<div class="big_card_container">
    <div class="big_card_photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRBvq48N6Tre5Fi4xT56qDalHSqHZ-CrdIq_WMIXP6&s"
         alt="Image"
         height="200px"
         width="300px"
         srcset="">
    </div>
    <div class="big_card_title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big_card_description">
        <p>
            <a href="#">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae vehicula massa, vel facilisis nulla. Morbi efficitur magna quis nibh venenatis vestibulum. Nullam in nunc odio. Curabitur id auctor purus. Morbi vel tellus nisi. Sed eleifend porta leo. Sed euismod turpis at turpis fermentum lobortis. Sed sodales ornare metus, vel gravida ante ultrices eget. Quisque viverra turpis ultrices, mollis mi id, cursus lacus. Curabitur id iaculis sem, et iaculis eros. Fusce at iaculis augue.
            </a>
        </p>
    </div>
</div>
